body {
  color: #000;
  background-color: #fff;
  font-size: 18px;
  font-family: "book antiqua", "Arial", sans-serif;
  width: 1000px;
  margin:auto;
}
h1 {
  font-size: 2em;
  color: #275d38;
  padding-left: 50px;
  padding-right: 50px;
}
h2 {
  color: #578164;
  font-size: 1.75em;
}
a {
  text-decoration: none;
}
a:link{
  color:#578164;
}
a:visited{
  color:#6f937a;
}



.menu-container{
  color:#1e482c;
  background-color: #e8e8e8;
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

.menu {
  
  width: 900px;
  display: flex;
  justify-content: space-between;
}

.info{
  display: flex;
  justify-content: flex-start;
}

.contact{
  padding:10px 0;
}